body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* nền tối */
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 90vw;
  max-height: 90vh;
}

.modal-content iframe {
  width: 800px;
  height: 450px;
  max-width: 100%;
  max-height: 100%;
  border: none;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 30px;
  color: #aaa;
  cursor: pointer;
}
.close:hover {
  color: #000;
}

header {
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.logo img {
  width: 70px;
}
.navbar {
  margin-left: 30px;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-left: 20px;
}

header button {
  width: 100px;
  padding: 10px 0;
  font-size: 16px;
  border-radius: 6px;
  background-color: #b71c1c;
  color: white;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
header button:hover {
  background-color: #c62828;
}
.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 30px 0;
  margin-bottom: 80px;
}

.booking {
  height: 200px;
  width: 100%;
}

.detail {
  width: 100%;
  border-left: 1px solid black;
  padding: 0 30px;
  box-sizing: border-box;
}
.detail-banner {
  display: flex;
  justify-content: center;
}
.detail img {
  height: 450px;
  width: 100%;
}

.detail h2 {
  font-size: 30px;
}

.detail p {
  font-size: 30px;
}

.detail button {
  background-color: #b71c1c;
  color: white;
  border: none;
  padding: 20px;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  transition: all .5s;
}
.detail button:hover{
  background-color: #c62828;
  transform: translateY(-2px);
}
.detail .btn-trailer {
  display: flex;
  justify-content: center;
}
.detail .btn-trailer span {
  margin-left: 5px;
}
.booking {
  margin: 0 auto;
  width: 80%;
}
.screen {
  background-color: #757373;
  color: white;
  text-align: center;
  padding: 40px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
}
.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.seat {
  background-color: #3c3f50;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  cursor: pointer;
}
.vip-seat {
  background-color: #d4af37;
}

.selected-seat {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.selecting-seat {
  background-color: #80deea;
}
.note {
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-self: center;
}
.note-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.note-item .available {
  height: 50px;
  width: 50px;
  background-color: #3c3f50;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
}
.note-item .selected {
  opacity: 0.5;
}

.note-item .selecting {
  background-color: #80deea;
}
.note-item .vip {
  background-color: #d4af37;
}
.note-item p {
  font-size: 25px;
}

.ticket {
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
}
.btn-book {
  background-color: #b71c1c;
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.5s;
}
.btn-book:hover {
  background-color: #c62828;
  transform: translateY(-2px);
}

#warning {
  color: red;
  display: none;
}

.footer-content {
  background-color: rgb(11, 6, 32);
}
.footer-information {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.footer-information h5 {
  color: white;
  font-size: 25px;
  margin: 0;
}
.footer-desc {
  color: rgb(146, 144, 144);
}
.footer-about ul {
  padding-left: 0;
}
.footer-about ul li {
  list-style: none;
  margin: 5px;
}

.footer-about ul li a {
  color: rgb(146, 144, 144);
  text-decoration: none;
  transition: all 0.5s;
}
.footer-about ul li a:hover {
  color: white;
}

.footer-social p {
  color: rgb(146, 144, 144);
}
.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.social-icon {
  font-size: 30px;
  transition: all 0.3s ease;
  color: rgb(146, 144, 144);
  transition: all 0.5s;
}
.social-icon:hover {
  color: white;
  transform: translateY(-2px);
}

.footer-social input {
  background-color: rgb(146, 144, 144);
  padding: 10px;
  border: none;
}
input::placeholder {
  color: black;
}
.btn-subcribe {
  padding: 10px;
  background-color: #b71c1c;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-subcribe:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
